<!-- views/test.ejs -->

<!DOCTYPE html>

<html>
<head>
  <title>Bradius Pontificae</title>

  <!-- bootstrap here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel='stylesheet'
    href='http://maxcdn.bootstrapcdn.com/font-aewsome/4.1.0/css/font-awesome.min.css'>

  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Tangerine'>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Arvo'>

  <!-- syntax highlighting -->
  <link  rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">

  <!-- My Website Stylesheet -->
  <link rel="stylesheet" href='style.css'>
</head>
<body style='background: #7b584a;'>
  <div class="section-colored pont-headers">
    <img class="pont-pic" src="assets/bradimus.jpg"/>
    <div class='bp-pagetop'>
      <span class='bp-title'>Bradius Pontificae</span>
      <span class='bp-subtitle'>A Blog for Plebs</span>
    </div>
    <img class='pont-pic-right' src='assets/bradimusright.jpg'/>
  </div>

  <div class="col-md-3 full-height bp-archive">
    <div class='col-md-12 bp-betterfont'>
      <h2>About This</h2>
      My name is Brad.  I like long walks on the beach and Cokes with two straws.
    </div>
    <div class='col-md-12 bp-betterfont'>
      <h2>Archives</h2>
      <span id='stickit'></span>
    </div>
  </div>
  <div class="col-md-6 full-height bp-poast">

  </div>

  <script src="readTitles.js"></script>
</body>
</html>
