
<!-- views/pad.ejs -->

<!DOCTYPE html>

<html>
<head>
  <title>Realtime Markdown Viewer</title>
  <!-- bootstrap here -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <!-- syntax highlighting -->
  <link
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>

<body class="container-fluid">

  <section class="row">
    <button id='postShit' onclick='postPopup()'>Send me</button>
    <button id='retrieveShit' onclick='retrieve()'>Get me</button>
    <textarea id='titlearea'>title here</textarea>
    <textarea class="col-md-6 full-height" id="pad"></textarea>
    <div class="col-md-6 full-height" id="markdown"></div>
  </section>

  <!-- import showdown to convert to html in real time yo! -->
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
  <script src="script.js"></script>
</body>
</html>

