<!-- views/test.ejs -->

<!DOCTYPE html>

<html>
<head>
  <title>All the Poast</title>
  <!-- bootstrap here -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <!-- syntax highlighting -->
  <link
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css" rel="stylesheet">
</head>
<body>
  <h1>These are Poast</h1>
  <span id='stickit'></span>

</body>
</html>
