

/* public/style.css */
html, body, section, .full-height {
  height: 100%;
}

#pad {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#markdown {
  overflow: auto;
  border-left: 1px solid black;
}

.section-colored {
  padding: 50px 0;
  background-color: #e1e1e1;
}
.pont-headers {
  height: 30%;
  padding: 0;
  text-align: center;
}

.bp-pagetop {
  display: inline-block;
}
.bp-title {
  font-size: 120px;
  font-family: 'Tangerine', serif;
  display: block;
  margin-bottom: -35px;
}
.bp-subtitle {
  font-family: 'Arvo', serif;
  margin-left: 460px;
}

.pont-pic {
  height: 150%;
  float: left;
}
.pont-pic-right {
  height: 150%;
  float: right;
}

.bp-archive {
  background: #ace5ac;
  margin-top: 5px;
  width: 25.8%;
  border-right: 1px solid black;
  border-top-left-radius: 3px;
}
.bp-poast {
  background: #ace5ac;
  margin-top: 5px;
  border-top-right-radius: 3px;
}
.bp-betterfont {
  font-family: 'Arvo', serif;
}

.bp-headeryear {
  font-size: 24px;
  cursor: zoom-in;
}
.bp-postlist-item {
  margin-left: 10%;
  font-size: 18px;
}
/* .bp-postlist {
  display: none;
} */
